.dashboardContainer {
    transform: translate(-50%);
    margin-left: 50%;
    width: 80%;
}

.dashboardContainer i {
    font-size: xx-large;
    position: absolute;
    top: 0;
    right: 0;
}

.dashboardContainer i:hover {
    cursor: pointer;
}